<footer>
	<div class="sitemap">
		<div class="container">
			<%= link_to "About Polimeter", aboutpolimeter_url(:subdomain => "www"), target: "_blank" %> | 
			<%= link_to "Contact Polimeter", contact_url(:subdomain => "www"), target: "_blank" %> | 
			<%= link_to "Support Polimeter", support_url(:subdomain => "www"), target: "_blank" %> | 
			<%= link_to "Terms", terms_url(:subdomain => "www"), target: "_blank" %> | 
			<%= link_to "Privacy", privacy_url(:subdomain => "www"), target: "_blank" %>
		</div>
	</div>
	<div class="colophon">
		<div class="container">
			<p>Made with <i class="fa fa-heart"></i> with <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, <a href="https://disqus.com/" target="_blank">Disqus</a>, a sprinkle of <a href="https://jquery.com/" target="_blank">jQuery</a>, and a healthy dose of <a href="http://www.timhortons.com/ca/en/menu/original-blend.php" target="_blank">Tim Hortons coffee</a> :)</p>
			<!--<p>&copy; 2019</p>-->
		</div>
	</div>
</footer>