if (!$("#promise").hasClass("see-logs")) {
	$("#promise").addClass("see-logs");
	$("[data-action='see-logs']").addClass("expanded");

	<% status_icons = ["", "fa-hourglass-start", "fa-cogs", "fa-check", "fa-ban"] %>
	<% statuses = ["", @promise.meter.status1, @promise.meter.status2, @promise.meter.status3, @promise.meter.status4] %>

	<% @promise.logs.each do |log| %>
		$("#promise-logs").prepend(
			"<div class='log status<%= log.new_status %>'>" +
					"<b class='block>'><%= log.created_at.try(:strftime, '%B %d, %Y') %></b>" +
					"<p><%= log.action === 'new article' ? 'New article added:' : log.action %></p>" +
					<% if @promise.articles.find(log.article_reference) %>
						"<p><b><%= @promise.articles.find(log.article_reference).title %></b></p>" +
					<% else %>
						"<p><i>Article no longer exists</i></p>" +
					<% end %>
					<% if log.new_status != log.old_status %>
						"<p>Promise status changed from <b><%= statuses[log.old_status] %></b> to <b><%= statuses[log.new_status] %></p></b>" +
						"<i class='fa <%= status_icons[log.new_status] %>'></i>" +
					<% end %>
				"</div>"
		);
	<% end %>

	$("#promise-logs").prepend(
		"<p>Promise update history from oldest (top) to newest</p> \
		<div class='log status1'> \
			<b class='block'><%= @promise.created_at.try(:strftime, '%B %d, %Y') %></b> \
			<p>Promise added</p> \
			<i class='fa fa-chevron-down'></i> \
		</div>"
		);
}